body{
	font:normal normal 12px/1.3em Georgia,Times,serif;
	color: #000;
	margin: 0px;
	padding: 0px;
}

.hide {display:none;}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:3em;line-height:1;margin-bottom:0.5em;}
h2 {font-size:2em;margin-bottom:0.75em;}
h3 {font-size:1.5em;line-height:1;margin-bottom:1em;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #92c735;
}

a img{
	border: none;
}

.container{
	width:960px;
	margin: 0px auto;
	position: relative;
}

#header,
#content{
	width:700px;
	margin: 0px 10px;
	float: left;
}

#header{
	border-bottom: 5px solid #92c735;
	height: 40px;
	position: relative;
}

.logo a{
	font-size: 18px;
	color: #818181;
	position: absolute;
	left:3px;
	bottom: 10px;
}

.nav{
	width:220px;
	position: absolute;
	left:730px;
	top:5px;
	font-size: 18px;
}

.nav a{
	display: block;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #e7e7e7;
}

.nav a.active{
	color: #c7c7c7;
}

.nav .home {
	display:none;
}

#content{
	margin-top: 123px;
	padding-bottom: 20px;
}

.page_cv #content{
	margin-top: 0px;
	padding-bottom: 20px;
}

#content h1{
	display: none;
}

#main_image,
#main_image img{
	width:700px;
}

.caption{
	position: absolute;
	top: 109px;
	right:250px;
	width:130px;
	padding-left: 10px;
	border-left: 10px solid #e7e7e7;
	line-height: 1.2em;
}

.caption *{
	font-size: 12px;
	font-weight: normal;
}

blockquote{
	margin: 0;
	padding: 0;
	width:220px;
	position: absolute;
	left:730px;
	top: 113px;
	border-top: 14px solid #e7e7e7;
	border-bottom: 15px solid #e7e7e7;
}

.gallery{
	width:220px;
	height: 355px;
	position: absolute;
	left:730px;
	top: 113px;
	border-top: 14px solid #e7e7e7;
	border-bottom: 15px solid #e7e7e7;
}

* html .gallery,
* html .nav{
	left: 740px;
}

.gallery_wrap{
	width:220px;
	height: 275px;
	overflow: hidden;
	position: absolute;
	top: 43px;
}

.gallery .item_title{
	display: none;
}

.gallery ul{
	width:260px;
	position: relative;
	height: 275px;
	overflow-x:hidden;
}

* html .gallery ul{
	margin-right: -20px;
}

.gallery li{
	width:60px;
	height: 60px;
	float: left;
	overflow: hidden;
	margin: 0px 20px 10px 0px;
}

.gallery li img{
	width: 60px;
	height: 60px;
}

.gallery li.active{
	border: 2px solid #92c735;
	width: 56px;
	height: 56px;
}

.gallery li.active img{
	border: 1px solid #fff;
	width: 54px;
	height: 54px;
}

.gallery_nav{
	position: absolute;
	right:410px;
	top:108px;
}
/* scroll */

.jScrollPaneTrack{
	position: absolute;
	right:-10px;
	height: 355px !important;
}

.jScrollArrowUp,.jScrollArrowDown{
	display: block;
	width: 22px !important;
	height: 20px;
	background: transparent url({{ pack.arrows.get_file }}) no-repeat right top;
	overflow: hidden;
	text-indent: -1000em;
	position: absolute;
	right:-10px;
	top:15px;
	cursor: pointer;
}

.jScrollArrowDown{
	background-position: right bottom;
	top: auto;
	bottom: 15px;
}

.jScrollPaneTrack{
	position: absolute;
	right:-10px;
	top:43px !important;
	height: 270px !important;
}

.jScrollPaneDrag{
	background: #e7e7e7;
	position: absolute;
}

/* Galery pages specific CSS */
.t_galleria #content{
	margin-top: 117px;
}

/* CV specific CSS */
.t_cv .gallery{
	padding: 10px 0px;
	height: 315px;
}

.nav .contact {
	position: absolute;
	top: 490px;
	border: none;
}

.magnifier {
background:transparent url({{ pack.magnifier.get_file }}) no-repeat 0;
display:block;
height:15px;
right:460px;
position:absolute;
top:28px;
width:80px;
}
.magnifier span {
display:none;
}

#footer {clear:both;}
