{% extends "site/item.html" %}
{% block content %}
	{% with page.items as items %}
	{% if items %}
		<h1>{{ page }}</h1>
		<div id="main_image" class="galleria_container">
			<div class="galleria_wrapper">
				<a href="{{next_item.url}}">{{item.render}}</a>
			</div>
			<span class="caption">{{ item.name }}<br >{{item.sub_title}}<br />{{item.description}}</span>
		</div>
		<div class="gallery">
			<div class="gallery_wrap">
				<ul class="galleria">
					{% for i in items %}
					<li class="{%ifequal item i%}active{%endifequal%}">
							<a class="item-thumb-wrapper" href="{{i.url}}" title="{{i|escape}}">
								{{ i.render_thumb }}
							</a>
							<a class="item-title" href="{{i.url}}">{{i}}</a>
							{% if i.sub_title %}
							<a class="item-sub-title" href="{{i.url}}">{{i.sub_title}}</a>
							{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div> 
		</div> 
		<p class="gallery_nav">
			<a class="magnifier" href="{{ item.get_file }}" target="blank"><span>Magnify</span></a>
			<a href="{{prev_item.url}}"><span>&laquo; previous</span></a> | 
			<a href="{{next_item.url}}"><span>next &raquo;</span></a>
		</p>
	{% endif %}
	{% endwith %}
{% endblock %}

{% block beforeBodyEnd %}
	{{ block.super }}
	<script type="text/javascript">
	if(top.document==document) {
		var href = $('.active').next().find('a').attr('href')
		$.get(href, {},
				function(data){
					$(data.match(/http:\/\/m\d\.[^"]+/g)).each(function(s,v) {
						if(!v.match('thumb|js') && v.match('.jp')) {
							$.get(v);
						}
					});
		});

		
		if(href) {
			$(document.createElement('iframe')).attr('id','next_page').attr('class','hide').attr('src', href).appendTo('.container');
		}
	}
	</script>
{% endblock %}