body{
	font:normal normal 12px/1.3em Georgia,Times,serif;
	color: #000;
	margin: 0px;
	padding: 0px;
}

ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a{
	text-decoration: none;
	color: #92c735;
}

a img{
	border: none;
}

p,h1,h2,h3{
	margin: 0px;
	padding: 0px;
}

.container{
	width:960px;
	margin: 0px auto;
	position: relative;
}

#header,
#content{
	width:700px;
	margin: 0px 10px;
	float: left;
}

#header{
	border-bottom: 5px solid #92c735;
	height: 40px;
	position: relative;
}

.logo a{
	font-size: 18px;
	color: #818181;
	position: absolute;
	left:3px;
	bottom: 10px;
}

.nav{
	width:220px;
	position: absolute;
	left:730px;
	top:5px;
	font-size: 18px;
}

.nav a{
	display: block;
	height: 35px;
	line-height: 35px;
	border-bottom: 1px solid #e7e7e7;
}

.nav a.active{
	color: #c7c7c7;
}

.nav .home {
	display:none;
}

#content{
	margin-top: 67px;
	padding-bottom: 20px;
}

#content h1{
	display: none;
}

#main_image,
#main_image img{
	width:700px;
}

.caption{
	position: absolute;
	top: 109px;
	right:250px;
	width:130px;
	padding-left: 10px;
	border-left: 10px solid #e7e7e7;
	line-height: 1.2em;
}

.caption *{
	font-size: 12px;
	font-weight: normal;
}

blockquote{
	margin: 0;
	padding: 0;
	width:220px;
	height: 335px;
	position: absolute;
	left:730px;
	top: 113px;
	border-top: 14px solid #e7e7e7;
	border-bottom: 15px solid #e7e7e7;
}

.gallery{
	width:220px;
	height: 335px;
	position: absolute;
	left:730px;
	top: 113px;
	border-top: 14px solid #e7e7e7;
	border-bottom: 15px solid #e7e7e7;
}

* html .gallery,
* html .nav{
	left: 740px;
}

.gallery_wrap{
	width:220px;
	height: 275px;
	overflow: hidden;
	position: absolute;
	top: 43px;
}

.gallery .item_title{
	display: none;
}

.gallery ul{
	width:260px;
	position: relative;
	height: 275px;
	overflow-x:hidden;
}

* html .gallery ul{
	margin-right: -20px;
}

.gallery li{
	width:60px;
	height: 60px;
	float: left;
	overflow: hidden;
	margin: 0px 20px 10px 0px;
}

.gallery li img{
	width: 60px;
	height: 60px;
}

.gallery li.active{
	border: 2px solid #92c735;
	width: 56px;
	height: 56px;
}

.gallery li.active img{
	border: 1px solid #fff;
	width: 54px;
	height: 54px;
}

.gallery_nav{
	position: absolute;
	right:410px;
	top:108px;
}
/* scroll */

.jScrollPaneTrack{
	position: absolute;
	right:-10px;
	height: 355px !important;
}

.jScrollArrowUp,.jScrollArrowDown{
	display: block;
	width: 22px !important;
	height: 20px;
	background: transparent url('/static/5.11/images/arrows.png') no-repeat right top;
	overflow: hidden;
	text-indent: -1000em;
	position: absolute;
	right:-10px;
	top:15px;
	cursor: pointer;
}

.jScrollArrowDown{
	background-position: right bottom;
	top: auto;
	bottom: 15px;
}

.jScrollPaneTrack{
	position: absolute;
	right:-10px;
	top:43px !important;
	height: 270px !important;
}

.jScrollPaneDrag{
	background: #e7e7e7;
	position: absolute;
}

/* Galery pages specific CSS */
.t_galleria .gallery{
	height: 355px;
}

.t_galleria #content{
	margin-top: 117px;
}

/* CV specific CSS */
.t_cv .gallery{
	padding: 10px 0px;
	height: 315px;
}

.nav .contact {
	position: absolute;
	top: 490px;
	border: none;
}

.magnifier {
background:transparent url({{ pack.img_magnifier.get_file }}) no-repeat 0;
display:block;
height:15px;
right:460px;
position:absolute;
top:36px;
width:80px;
}
.magnifier span {
display:none;
}

#footer {clear:both; font-size:0.7em; line-height:1.8em; padding:20px 0pt 7px; text-align:center; width: 730px; margin: 0 auto 11px auto; padding: 1em; background: #fff;}
